.dashboard {
  height: 75px;
  font-size: 45px;
  font-weight: bolder;
}

.search {
  /* border-bottom: 3px solid black;*/
}

.current {
  border: 3px solid black;
  padding: 3px;
}

#forecast {
  margin: 0 3px;
  border: 1px solid black;
}

#searchBtn {
  margin: 3px 0;
  width: 100%;
}

#search-form {
  width: 100%;
}

.line {
  border-bottom: 3px;
}

.history-btn {
  margin: 3px 0;
  width: 100%;
}

#search-history {
  border-top: 3px solid black;
  margin-top: 3px;
}
